/* WEBFONTS */
@font-face { font-family: 'MontserratBold'; src: local('Montserrat Bold'), local('Montserrat'), url('../fonts/Montserrat-Bold.ttf') format('truetype'); }
@font-face { font-family: 'MontserratRegular'; src: local('Montserrat Regular'), local('Montserrat'), url('Montserrat-Regular.ttf') format('truetype'); }

/* GENERAL */
body {  }
a, a:hover, a:active { color: #00a2ff; }

/* HEADER */
.navbar { background: url(../img/bg_main.png); margin: 0; height: 85px; }
.navbar .navbar-inner { background: #fff; height: 85px; -moz-box-shadow:inset 0px 0px 0px rgba(0,0,0,1); -webkit-box-shadow:inset 0px 0px 0px rgba(0,0,0,1); box-shadow:inset 0px 0px 0px rgba(0,0,0,1); -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }
.navbar .navbar-inner .container { width: 940px; margin: 0 auto;; }
.navbar .navbar-inner a.brand { display: block; float: left; width: 220px; height: 30px; padding: 0; margin: 23px 0 0 20px; text-indent: -9999px; background: url(../img/petcare_logo.png); }
.navbar .navbar-inner a.login { font-size: 14px; background: #fff; color: #00a2ff; text-transform: uppercase; box-shadow: none; border: 1px solid #e8e8e8; margin: 24px 18px 0 0; padding: 10px 12px 8px 12px; font-family: sans-serif; font-weight: 300; text-shadow: none; letter-spacing: -1px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
.navbar .navbar-inner a.login:hover { border: 1px solid #ccc; }
.navbar .navbar-inner a.login:active { background: #f9f9f9; padding: 9px 12px 7px 12px; }
.navbar .navbar-inner a.login i { width: 18px; height: 18px; margin: 0px -2px 0 5px; }

.navbar .navbar-inner .langmenu { float: right; margin: 1px 0 0 0; padding: 0; }
.navbar .navbar-inner .langmenu a.btn { font-size: 14px; background: #fff; color: #00a2ff; text-transform: uppercase; box-shadow: none; border: 1px solid #e8e8e8; margin: 23px 10px 0 0; padding: 10px 12px 9px 12px; font-family: sans-serif; font-weight: 300; text-shadow: none; letter-spacing: -1px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
.navbar .navbar-inner .langmenu a.btn:hover { border: 1px solid #ccc; }
.navbar .navbar-inner .langmenu a.btn .caret { margin-left: 7px; }

ul#mainmenu { margin: 0 0 0 24px; list-style: none; float: left; font-family: sans-serif; font-size: 16px; font-weight: 300; letter-spacing: -1px; border-left: 1px solid #f0f0f0; }
ul#mainmenu li { display: inline; margin: 0; padding: 0; }
ul#mainmenu li a { display: inline-block; color: #666; margin: 0; padding: 34px 22px 33px 22px; text-decoration: none; border-right: 1px solid #f0f0f0; font-size: 18px; }
ul#mainmenu li a:hover { color: #00a2ff; }
ul#mainmenu li a.act { position: relative; }
ul#mainmenu li a.act .pointer { display: inline-block; width: 12px; height: 9px; background: url(../img/mainmenu_pointer.png); margin: 0 0 0 -6px; position: absolute; bottom: -2px; left: 50%; }

/* HOMEPAGE PROMO IMAGES */
.promo-bg { background-position: top center; background-repeat: no-repeat; height: 515px; -moz-box-shadow: inset 0px 3px 5px rgba(0,0,0,0.2); -webkit-box-shadow: inset 0px 3px 5px rgba(0,0,0,0.2); box-shadow: inset 0px 3px 5px rgba(0,0,0,0.2); }
.promo-bg  h1 { color: #fff; font-size: 58px; font-family: MontserratBold; letter-spacing: -3px; margin: 70px 0 0 0; text-align: center; text-shadow: rgba(0,0,0,0.75) 0px 1px 3px; }
.promo-bg  h2 { color: #fff; font-size: 18px; font-family: MontserratRegular; font-weight: normal; letter-spacing: 0; margin: 15px 0 35px 0; text-align: center; text-shadow: rgba(0,0,0,0.75) 0px 1px 3px; }
.promo-bg .pic { height: 323px; background-position: bottom center; background-repeat: no-repeat; }
.promo-bg .pic.notitle { margin-top: 192px; }
.promo-bg .actions { height: 100px; }
.promo-bg .actions .btnwrap { background: rgba(0,0,0,0.35); padding: 6px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; margin: 0 -26px; }
.promo-bg .actions .btnwrap a.btn { width: 308px; font-size: 28px; font-family: MontserratBold; font-weight: 400; letter-spacing: -1px; padding: 12px 0; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; background: #00a8ff; background-image: -o-linear-gradient(90deg , rgb(16,168,247) 0%, rgb(0,168,255) 49%, rgb(20,175,255) 50%, rgb(58,188,255) 100%); background-image: -moz-linear-gradient(90deg , rgb(16,168,247) 0%, rgb(0,168,255) 49%, rgb(20,175,255) 50%, rgb(58,188,255) 100%); background-image: -webkit-linear-gradient(90deg , rgb(16,168,247) 0%, rgb(0,168,255) 49%, rgb(20,175,255) 50%, rgb(58,188,255) 100%); background-image: -ms-linear-gradient(90deg , rgb(16,168,247) 0%, rgb(0,168,255) 49%, rgb(20,175,255) 50%, rgb(58,188,255) 100%); background-image: linear-gradient(90deg , rgb(16,168,247) 0%, rgb(0,168,255) 49%, rgb(20,175,255) 50%, rgb(58,188,255) 100%); text-shadow: rgba(0,0,0,0.5) 0px 1px 2px; text-transform: none; }
.promo-bg .actions .btnwrap a.btn strong { font-weight: 400; background: url(../img/bg_free_underline.png) bottom center no-repeat; padding: 0 2px 4px 2px; }
.register-link { font-size: 16px; text-align: center; font-family: MontserratRegular; margin: 20px 0 0 0; color: #fff; text-shadow: rgba(0,0,0,0.5) 0px 1px 2px; }
.register-link a { color: #fff; text-decoration: underline; }
.register-link a:hover { text-decoration: none; }

/* BACKEND BODY */
.backend { background: url(../img/bg_main.png); padding-top: 20px; padding-bottom: 20px; -moz-box-shadow: inset 0px 3px 5px rgba(0,0,0,0.2); -webkit-box-shadow: inset 0px 3px 5px rgba(0,0,0,0.2); box-shadow: inset 0px 3px 5px rgba(0,0,0,0.2);}
.backend .content { background: #fff; min-height: 560px; -moz-border-radius: 9px; -webkit-border-radius: 9px; border-radius: 9px; -moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.5); -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.5); box-shadow: 0px 0px 6px rgba(0,0,0,0.5); }

/* ICONS */
.icon-login { background: url(../img/icos18.png) 0 0 no-repeat; }

/* STEPS */
.steps { height: 36px; background-image: url(../img/bg_tab_bar.png); margin-top: 50px; margin-bottom: 30px; }
.steps.step1 { background-position: 0 0; }
.steps.step2 { background-position: 0 -36px; }
.steps.step3 { background-position: 0 -72px; }
.steps.step4 { background-position: 0 -108px; }
.steps ul { margin: 40px 0 0 4px; overflow: hidden; }
.steps ul li { display: inline; display: block; float: left; width: 133px; text-align: center; margin: 0 80px 0 0; color: #c0c0c0; font-weight: 300; font-size: 14px; }
.steps ul li:last-child { margin: 0; }
.step1 ul li:nth-child(-n+1) { color: #373737; }
.step2 ul li:nth-child(-n+2) { color: #373737; }
.step3 ul li:nth-child(-n+3) { color: #373737; }
.step4 ul li:nth-child(-n+4) { color: #373737; }
/* //STEPS */

.contentarea { margin: 0 0 0 80px; overflow: visible; }
.contentarea h1 { font-family: MontserratBold; letter-spacing: -1px; float: left; }
.contentarea .alert { width: 730px; }
.contentarea .alert.alert-error { border: 1px solid #fcd6d6; background-color: #ffe3e3; color: #990303; }
.contentarea .alert.alert-success { border: 1px solid #def1a9; background-color: #e8f8b8; color: #698a08; }
.contentarea .alert.alert-not { border: 1px solid #f8ef8a; background-color: #fff79c; color: red; }
.center { text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto; }

.content .hero-unit { background: #fff; padding: 190px 0 0 0; }

/* PET FORM */
.pet-form { border: 1px solid #e4e4e4; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; margin: 30px 0 0 0; padding: 23px 26px; overflow: visible; }
.pet-form .pointer { display: block; width: 34px; height: 18px; background: url(../img/petform_pointer.png); margin-top: -41px; }
.pet-form .pointer.dog { margin-left: 70px; }
.pet-form .pointer.cat { margin-left: 300px; }
.pet-form .formblock { float: left; margin: 0 4px; }
.pet-form .formblock .selector { padding-left: 0; } 
.pet-form .formblock label { font-size: 14px; font-weight: 700; color: #373737; margin: 0 0 3px 3px; }
.pet-form .formblock label span { color: #a8a8a8; font-weight: 300; float: right; margin: 0 2px 0 0; }

.gender-switch {}
.gender-switch a.button { display: inline-block; height: 18px; padding: 5px 8px 3px 4px; margin-bottom: 9px; font-size: 16px; line-height: 18px; color: #555555; border: 1px solid #bebdbd; background-image: -o-linear-gradient(90deg , rgb(244,243,243) 0%, rgb(233,233,233) 50%, rgb(242,242,242) 50%, rgb(244,244,244) 100%); background-image: -moz-linear-gradient(90deg , rgb(244,243,243) 0%, rgb(233,233,233) 50%, rgb(242,242,242) 50%, rgb(244,244,244) 100%); background-image: -webkit-linear-gradient(90deg , rgb(244,243,243) 0%, rgb(233,233,233) 50%, rgb(242,242,242) 50%, rgb(244,244,244) 100%); background-image: -ms-linear-gradient(90deg , rgb(244,243,243) 0%, rgb(233,233,233) 50%, rgb(242,242,242) 50%, rgb(244,244,244) 100%); background-image: linear-gradient(90deg , rgb(244,243,243) 0%, rgb(233,233,233) 50%, rgb(242,242,242) 50%, rgb(244,244,244) 100%); -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset, 0 -1px 0 rgba(0,0,0,0.08) inset; text-decoration: none; -moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.8) inset, 0px -1px 0px rgba(0,0,0,0.08) inset; -webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.8) inset, 0px -1px 0px rgba(0,0,0,0.08) inset; box-shadow: 0px 1px 0px rgba(255,255,255,0.8) inset, 0px -1px 0px rgba(0,0,0,0.08) inset; font-family: MontserratRegular; letter-spacing: -1px; text-shadow: rgba(255,255,255,1.0) 0px 1px 0px; }
.gender-switch a.button i.icon { display: inline-block; width: 18px; height: 18px; background-image: url(../img/icos_gender_18.png); margin: -2px 4px -3px 0; }

a.button#male i.icon { background-position: 0 -18px; }
a.button#male.act i.icon { background-position: 0 0; }
a.button#female i.icon { background-position: -18px -18px; }
a.button#female.act i.icon { background-position: -18px 0; }

.gender-switch a.button:hover { color: #45576a; background-image: -o-linear-gradient(90deg , rgb(236,246,251) 0%, rgb(219,237,247) 50%, rgb(234,244,250) 50%, rgb(244,244,244) 100%);
background-image: -moz-linear-gradient(90deg , rgb(236,246,251) 0%, rgb(219,237,247) 50%, rgb(234,244,250) 50%, rgb(244,244,244) 100%);
background-image: -webkit-linear-gradient(90deg , rgb(236,246,251) 0%, rgb(219,237,247) 50%, rgb(234,244,250) 50%, rgb(244,244,244) 100%);
background-image: -ms-linear-gradient(90deg , rgb(236,246,251) 0%, rgb(219,237,247) 50%, rgb(234,244,250) 50%, rgb(244,244,244) 100%);
background-image: linear-gradient(90deg , rgb(236,246,251) 0%, rgb(219,237,247) 50%, rgb(234,244,250) 50%, rgb(244,244,244) 100%); -moz-box-shadow: 0px 1px 0px rgba(210,233,245,1.0) inset, 0px -1px 0px rgba(210,233,245,1.0) inset; -webkit-box-shadow: 0px 1px 0px rgba(210,233,245,1.0) inset, 0px -1px 0px rgba(210,233,245,1.0) inset; box-shadow: 0px 1px 0px rgba(255,255,255,0.8) inset, 0px -1px 0px rgba(210,233,245,1.0) inset; }

.gender-switch a.button.act { border: 1px solid #037bb8; color: #fff; -moz-box-shadow:inset 0px 1px 5px rgba(0,84,126,0.8); -webkit-box-shadow:inset 0px 1px 5px rgba(0,84,126,0.8); box-shadow:inset 0px 1px 5px rgba(0,84,126,0.8); background-image: -o-linear-gradient(90deg , rgb(126,205,245) 0%, rgb(61,173,231) 100%); background-image: -moz-linear-gradient(90deg , rgb(126,205,245) 0%, rgb(61,173,231) 100%); background-image: -webkit-linear-gradient(90deg , rgb(126,205,245) 0%, rgb(61,173,231) 100%); background-image: -ms-linear-gradient(90deg , rgb(126,205,245) 0%, rgb(61,173,231) 100%); background-image: linear-gradient(90deg , rgb(126,205,245) 0%, rgb(61,173,231) 100%); text-shadow: rgba(0,0,0,0.6) 0px 1px 1px; }

.gender-switch a.button:first-child { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.gender-switch a.button:nth-child(2) { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }



/*
.animal-switch a.animal { display: inline-block; width: 128px; height: 128px; border: 1px solid #f3f3f3; -moz-border-radius: 64px; -webkit-border-radius: 64px; border-radius: 64px; text-decoration: none; }
.animal-switch a.animal .pic { display: block; width: 73px; height: 73px; background-image: url(../img/pics_animal_type.png); margin: 22px auto 0 auto; }
.animal-switch a.animal:hover { border: 1px solid #9dafc8; background: #ecf6fc; } */

.animal-switch { width: 360px; margin: 20px auto 0 auto; overflow: hidden; }
.animal-switch a.animal { display: inline-block; width: 128px; height: 128px; -moz-border-radius: 64px; -webkit-border-radius: 64px; border-radius: 64px; text-decoration: none; background: #e4e4e4; overflow: visible; position: relative; }
.animal-switch a.animal .inner { width: 126px; height: 126px; display: block; margin: 1px 0 0 1px; -moz-border-radius: 64px; -webkit-border-radius: 64px; border-radius: 64px; overflow: hidden; background: #fff; }
.animal-switch a.animal .name { position: absolute; font-family: MontserratRegular; font-size: 16px; color: #333; letter-spacing: -1px; width: 128px; text-align: center; z-index: 200; }

.animal-switch a.animal.act { display: inline-block; width: 128px; height: 128px; -moz-border-radius: 64px; -webkit-border-radius: 64px; border-radius: 64px; text-decoration: none; background: #00a2ff; }
.animal-switch a.animal.act .inner { width: 112px; height: 112px; background: #d3f3ff; display: block; margin: 8px 0 0 8px; -moz-border-radius: 64px; -webkit-border-radius: 64px; border-radius: 64px; overflow: hidden; }
.animal-switch a.animal.act:hover { background: #0097ed; }
.animal-switch #dog { float: left; }
.animal-switch #cat { float: right; }

.animal-switch a.animal .inner .pic { display: block; width: 73px; height: 73px; margin: 26px 0 0 26px; background-image: url(../img/pics_animal_type.png); }
.animal-switch a.animal.act .inner .pic { display: block; width: 73px; height: 73px; margin: 19px 0 0 19px; background-image: url(../img/pics_animal_type.png); }
.animal-switch a.animal:hover { background: #bce0ed; }
.animal-switch a.animal:hover .inner { background: #d3f3ff; }
.animal-switch #dog .inner .pic { background-position: 0 -73px; }
.animal-switch #cat .inner .pic { background-position: -73px -73px; }
.animal-switch .act#dog .inner .pic { background-position: 0 0px; }
.animal-switch .act#cat .inner .pic { background-position: -73px 0px; }
/* //PET FORM */


/* FORM STYLES */
input[type="text"],
input[type="password"] { display: inline-block; height: 18px; padding: 4px; margin-bottom: 9px; font-size: 14px; line-height: 18px; color: #555555; }
input[type="text"],
input[type="password"] { background: #f3f3f3; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-shadow:inset 0px 2px 5px rgba(0,0,0,0.35); -webkit-box-shadow:inset 0px 2px 5px rgba(0,0,0,0.35); box-shadow:inset 0px 2px 5px rgba(0,0,0,0.35); border: 1px solid #afafaf; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;  -webkit-transition: bnone; -moz-transition: none; -ms-transition: none; -o-transition: none; transition: none; }
input[type="text"]:focus,
input[type="password"]:focus { background: #e9f7fd; border: 1px solid #97afca; -moz-box-shadow:inset 0px 2px 5px rgba(0,0,0,0.35); -webkit-box-shadow:inset 0px 2px 5px rgba(0,0,0,0.35); box-shadow:inset 0px 2px 5px rgba(0,0,0,0.35); }
/* //FORM STYLES */


/* QUESTIONAIRE */
.block { margin-top: 25px; margin-bottom: 25px; position: relative; }
.block-pic { width: 140px; }
.block-pic .pic { width: 129px; height: 129px; margin: 0 0 0 5px; background-image: url(../img/pics_tests.png); position: absolute; top: 50%; margin-top: -70px; }
.block-pic .pic.cat { background-image: url(../img/pics_tests_cats.png)!important; }
.block-pic .pic label { text-align: center; font-size: 16px; margin: 135px 0 0 0; text-transform: uppercase; font-family: MontserratRegular; letter-spacing: -1px; width: 129px; position: absolute; } 

.block-pic .pic-envir { background-position: 0 0; }
.block-pic .pic-living { background-position: 0 -129px; }
.block-pic .pic-food { background-position: 0 -258px; }
.block-pic .pic-digest { background-position: 0 -387px; }
.block-pic .pic-org { background-position: 0 -516px; }
.block-pic .pic-other { background-position: 0 -645px; }

.profile .block-pic .pic-owner,
.profile .block-pic .pic-password,
.profile .block-pic .pic-email { background-image: url(../img/pics_profile.png)!important; }
.profile .block-pic .pic-owner { background-position: 0 0; }
.profile .block-pic .pic-password { background-position: 0 -129px; }
.profile .block-pic .pic-email { background-position: 0 -258px; }

ul.radio-labels { float: right; margin: 10px 0 10px 0; font-weight: 700; letter-spacing: -1px; font-size: 14px; }
ul.radio-labels li { display: inline; display: block; float: left; width: 79px; text-align: center; }

.questionaire .question { padding: 5px 0; overflow: hidden; height: 27px; }
.questionaire .question label { float: left; font-size: 14px; margin: 4px 0 0 0; letter-spacing: -1px; }
.questionaire .question .radio { float: right; width: 27px; height: 27px; margin: 0 26px; }
.questionaire .question .radio input[type="radio"] { margin: 0 0; }

.sep hr { margin: 0; }
/* //QUESTIONAIRE */

/* PROFILE */
.row.block.profile { min-height: 160px; }


/* CHECKLIST */
.check-item { overflow: hidden; margin: 0 0 8px 0; height: 42px; }
.check-item .checker { float: left; }
.check-item label { float: left; font-size: 14px; margin: 13px 0 0 2px; letter-spacing: 0; font-weight: 300; }
.check-item .date-pick { float: right; margin: 6px 0 0 0; }
.check-item .selector { margin: 0; padding: 0; float: left; margin: 0 0 0 5px; }
/* //CHECKLIST */

/* ACTIONS */
.actions { margin-top: 20px; }
.actions .back { float: left; font-size: 24px; font-family: MontserratRegular; padding: 12px 0; }
.actions .btn { font-size: 28px; font-family: MontserratBold; text-transform: uppercase; font-weight: 400; letter-spacing: -1px; padding: 12px 0; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; background: #00a8ff; background-image: -o-linear-gradient(90deg , rgb(16,168,247) 0%, rgb(0,168,255) 49%, rgb(20,175,255) 50%, rgb(58,188,255) 100%); background-image: -moz-linear-gradient(90deg , rgb(16,168,247) 0%, rgb(0,168,255) 49%, rgb(20,175,255) 50%, rgb(58,188,255) 100%); background-image: -webkit-linear-gradient(90deg , rgb(16,168,247) 0%, rgb(0,168,255) 49%, rgb(20,175,255) 50%, rgb(58,188,255) 100%); background-image: -ms-linear-gradient(90deg , rgb(16,168,247) 0%, rgb(0,168,255) 49%, rgb(20,175,255) 50%, rgb(58,188,255) 100%); background-image: linear-gradient(90deg , rgb(16,168,247) 0%, rgb(0,168,255) 49%, rgb(20,175,255) 50%, rgb(58,188,255) 100%); text-shadow: rgba(0,0,0,0.5) 0px 1px 2px; padding-right: 15px!important; padding-left: 15px!important; }
/* //ACTIONS */

/* REG BOX */
.reg-box { background: #f9f9f9; margin-top: 70px; margin-bottom: 10px; border: 1px solid #f2f2f2; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; line-height: 20px; text-align: center; }
.reg-box .txt { margin: 25px 20px 23px 20px; }
.reg-box p { font-size: 14px; color: #242424; font-weight: 300; }
.reg-box .buttons { font-size: 14px; font-weight: 300; margin: 15px 0 0 0; }
.reg-box .buttons a.btn { font-size: 22px; font-family: MontserratBold; font-weight: 400; letter-spacing: -1px; padding: 10px 12px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; background: #00a8ff; color: #fff; background-image: -o-linear-gradient(90deg , rgb(16,168,247) 0%, rgb(0,168,255) 49%, rgb(20,175,255) 50%, rgb(58,188,255) 100%); background-image: -moz-linear-gradient(90deg , rgb(16,168,247) 0%, rgb(0,168,255) 49%, rgb(20,175,255) 50%, rgb(58,188,255) 100%); background-image: -webkit-linear-gradient(90deg , rgb(16,168,247) 0%, rgb(0,168,255) 49%, rgb(20,175,255) 50%, rgb(58,188,255) 100%); background-image: -ms-linear-gradient(90deg , rgb(16,168,247) 0%, rgb(0,168,255) 49%, rgb(20,175,255) 50%, rgb(58,188,255) 100%); background-image: linear-gradient(90deg , rgb(16,168,247) 0%, rgb(0,168,255) 49%, rgb(20,175,255) 50%, rgb(58,188,255) 100%); text-shadow: rgba(0,0,0,0.5) 0px 1px 2px; margin: 0 10px }
.reg-box .buttons a.btn.green { background-color: #2ec0fe; background-image: -o-linear-gradient(90deg , rgb(105,170,2) 0%, rgb(110,180,0) 49%, rgb(121,197,1) 50%, rgb(127,206,0) 100%); background-image: -moz-linear-gradient(90deg , rgb(105,170,2) 0%, rgb(110,180,0) 49%, rgb(121,197,1) 50%, rgb(127,206,0) 100%); background-image: -webkit-linear-gradient(90deg , rgb(105,170,2) 0%, rgb(110,180,0) 49%, rgb(121,197,1) 50%, rgb(127,206,0) 100%); background-image: -ms-linear-gradient(90deg , rgb(105,170,2) 0%, rgb(110,180,0) 49%, rgb(121,197,1) 50%, rgb(127,206,0) 100%); background-image: linear-gradient(90deg , rgb(105,170,2) 0%, rgb(110,180,0) 49%, rgb(121,197,1) 50%, rgb(127,206,0) 100%); }
/* //REG BOX */

/* HOMEPAGE FORM */
.homepage-form { background: rgba(0,0,0,0.35); -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; margin: 0 0px 0 -20px; padding: 20px; }
.homepage-form .inner { background: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin: -13px; overflow: hidden; padding: 12px; }
.homepage-form .inner h2 { color: #000; letter-spacing: -1px; font-size: 24px; text-shadow: none; text-align: left; margin: 0; padding: 0 0 3px 2px; }
.homepage-form .inner label { font-size: 14px; padding: 0 0 0 3px; }
.homepage-form .inner input[type="text"],
.homepage-form .inner input[type="password"] { padding: 6px 4px; }
.homepage-form .inner ul { list-style: none; margin: 0 0 10px 2px; padding: 0; }
.homepage-form .inner .remember-login { margin: 0 0 4px 3px; }
.homepage-form .inner .remember-login input { vertical-align: middle; }
.homepage-form .inner .remember-login label { display: inline-block; vertical-align: middle; margin: 3px 0 0 0; }
.homepage-form .inner a.btn.btn-popup { margin: 10px 0 0 0; color: #fff; text-shadow: rgba(0,0,0,0.3) 0px 1px 0px; font-size: 16px; text-transform: uppercase; font-family: MontserratRegular; border: 1px solid #00a7ff; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-background-clip: border; -webkit-background-clip: border; background-clip: border; background-color: #00a1ff; background-image: -moz-linear-gradient(bottom, #11a8f6 0%, #11a8f6 0.24%, #00a7ff 50%, #16afff 50%, #3bbcff 100%); background-image: -o-linear-gradient(bottom, #11a8f6 0%, #11a8f6 0.24%, #00a7ff 50%, #16afff 50%, #3bbcff 100%); background-image: -webkit-linear-gradient(bottom, #11a8f6 0%, #11a8f6 0.24%, #00a7ff 50%, #16afff 50%, #3bbcff 100%); background-image: linear-gradient(bottom, #11a8f6 0%, #11a8f6 0.24%, #00a7ff 50%, #16afff 50%, #3bbcff 100%); }
/* //HOMEPAGE FORM */

/* LOGIN FORM */
.homepage-form.login { margin-top: 90px; }
/* //LOGIN FORM */

/* REGISTRATION FORM */
.homepage-form.registration { margin-top: 53px; }
/* //REGISTRATION FORM */

/* REMIND PASSWORD FORM */
.homepage-form.remind-password { margin-top: 170px; }
/* //REMIND PASSWORD FORM */

/* RESULTS */
.results {}
.results h1 { font-family: MontserratBold; font-size: 32px; letter-spacing: -1px; padding: 0 0 0 2px; }
.results h2 { font-family: MontserratBold; font-size: 26px; letter-spacing: -1px; padding: 10px 0 7px 2px; }
.results .result { background: #fbfbfb; border-width: 1px; border-style: solid; border-color: #f4f4f4; margin: 0 0 10px 0; padding: 15px 20px; } 
.results .result a { text-decoration: underline; }
.results .result a:hover { text-decoration: none; }
.results .result h3 { font-size: 20px; font-family: MontserratBold; letter-spacing: -1px; padding: 0 0 2px 0; }
.results .result h4 { font-size: 16px; font-family: MontserratBold; letter-spacing: -1px; padding: 5px 0 4px 0; }
.results .result h3 .label { font-family: sans-serif; font-size: 12px; font-weight: 700; text-transform: uppercase; letter-spacing: 0; vertical-align: middle; padding: 3px 4px 2px 4px; margin: 0 0 0 4px; }
.results .result h3 .label-success { background: #7ec403; }
.results .result h3 .label-warning { background: #ffc123; }
.results .result h3 .label-important { background: #dc6e1e; }
.results .result p { line-height: 20px; }
.results .result p a.more { text-decoration: none; }
.results .result p a.more .link { text-decoration: underline; }
.results .result p a.more:hover .link { text-decoration: none; }
.results .result ul {margin: 0; list-style: none; }
.results .result ul li { padding: 0 0 2px 15px; background: url(../img/bullet.png) 4px 6px no-repeat; }
.results .result.low { background: #e8ffcc; border-color: #cfe3ba; }
.results .result.med { background: #fdffcc; border-color: #eee6a0; }
.results .result.high { background: #ffdccc; border-color: #f8bba0; }
/* //RESULTS */

/* DASHBOARD */
.petblock-head { margin-top: 25px; overflow: visible; position: relative; height: 48px; background: #fdfdfd; border: 1px solid #e4e4e4; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.petblock-head img { float: left; -moz-border-radius: 32px; -webkit-border-radius: 32px; border-radius: 32px; padding: 0; position: absolute; z-index: 99; top: -7px; left: -10px; }
.petblock-head h2 { float: left; margin: 7px 0 0 61px; font-size: 26px; letter-spacing: -1px; color: #393939; }
.petblock-head .btn { float: right; margin: 6px 5px 0 0; }
.petblock-head a.btn.pet-settings { margin: 6px 5px 0 0; }
.petblock-head .dropdown-menu { right: 3px; left: auto; top: 44px; }

a.add-pet { float: right; margin: 0 80px 0 0; background-color: #2ec0fe; background-image: -o-linear-gradient(90deg , rgb(105,170,2) 0%, rgb(110,180,0) 49%, rgb(121,197,1) 50%, rgb(127,206,0) 100%); background-image: -moz-linear-gradient(90deg , rgb(105,170,2) 0%, rgb(110,180,0) 49%, rgb(121,197,1) 50%, rgb(127,206,0) 100%); background-image: -webkit-linear-gradient(90deg , rgb(105,170,2) 0%, rgb(110,180,0) 49%, rgb(121,197,1) 50%, rgb(127,206,0) 100%); background-image: -ms-linear-gradient(90deg , rgb(105,170,2) 0%, rgb(110,180,0) 49%, rgb(121,197,1) 50%, rgb(127,206,0) 100%); background-image: linear-gradient(90deg , rgb(105,170,2) 0%, rgb(110,180,0) 49%, rgb(121,197,1) 50%, rgb(127,206,0) 100%); color: #fff; font-family: MontserratRegular; text-shadow: rgba(0,0,0,0.45) 0px 1px 0px; font-size: 18px; border: 1px solid #6d9110; padding: 5px 10px; }
a.add-pet:hover { background-position: 0 0; color: #fff; }
a.add-pet:active { background: #7fab14; padding: 6px 10px 4px 10px; }

.petblock-content { border: 1px solid #e4e4e4; border-top: none; -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; padding: 20px 0; margin-bottom: 30px; }
.petblock-content .column { width: 228px; float: left; margin: 0 0 0 23px; overflow: hidden; }
.petblock-content .column .head { background: #d9d9d9; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; text-align: center; font-size: 18px; font-weight: 700; color: #393939; padding: 7px 0; text-shadow: rgba(255,255,255,1) 0px 1px 0px; }
.petblock-content .column .bottom { border: 1px solid #ebebeb; border-top: none; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; background: #fdfdfd; overflow: hidden; padding: 10px; }
.petblock-content .column .bottom .description { font-size: 16px; font-weight: 700; text-align: center; color: #494949; text-shadow: rgba(255,255,255,1) 0px 1px 0px; line-height: 20px; width: 205px; height: 42px; display: table-cell; vertical-align: middle; }
.petblock-content .column .bottom a.more { font-size: 16px; font-weight: 700; color: #09a4ff; display: block; text-align: center; background: #efefef; border: 1px solid #acd5ed; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 8px 0; margin: 7px 0 0 0; text-shadow: rgba(255,255,255,1) 0px 1px 0px; }
.petblock-content .column .icon { width: 72px; height: 72px; border: 5px solid #fff; -moz-border-radius: 40px; -webkit-border-radius: 40px; border-radius: 40px; background: #d4d4d4; -moz-box-shadow: 0 0 3px rgba(0,0,0,.25); -webkit-box-shadow: 0 0 3px rgba(0,0,0,.25); box-shadow: 0 0 3px rgba(0,0,0,.25); margin: 3px auto 5px auto; }
.petblock-content .column .icon.red { background: #f06634; }
.petblock-content .column .icon.yellow { background: #ffb928; }
.petblock-content .column .icon.green { background: #81a61e; }
.petblock-content .column .icon i { width: 42px; height: 42px; margin: 14px 0 0 14px; display: block; background-image: url(../img/dash_icos.png); }
.petblock-content .column .icon.vac i { background-position: 0 0; }
.petblock-content .column .icon.par i { background-position: 0 -42px; }
.petblock-content .column .icon.bac i { background-position: 0 -84px; }

.petblock-content .column .pointer { background: url(../img/grey_pointer.png); width: 14px; height: 9px; margin: 0 auto; }
.petblock-content .column .bottom a.more:hover { text-decoration: none; border: 1px solid #09a4ff; color: #009af4; }
.petblock-content .column .bottom a.more:active { padding: 9px 0 7px 0; background: #e9e9e9; }
/* //DASHBOARD */

/* TIMELINE */
.timeline-header { margin-top: 70px; width: 790px; }
.timeline-header img { float: left; -moz-border-radius: 32px; -webkit-border-radius: 32px; border-radius: 32px; margin: 0 0 2px 0; }
.timeline-header h1 { float: left; font-family: MontserratBold; font-size: 32px; letter-spacing: -1px; padding: 15px 0 0 10px; }
.timeline-header .nav-pills { float: right; margin: 17px 5px 0 0; }
.timeline-header .nav-pills a { color: #0088cc; font-size: 14px; }
.timeline-header .nav-pills .active a { color: #fff; }

.timeline-header a.btn.pet-settings { float: right; }

a.btn.pet-settings { margin: 15px 10px 0 0; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; letter-spacing: -1px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
a.btn.pet-settings i { display: inline-block; width: 24px; height: 24px; background-image: url(../img/timeline_icos.png); background-position: 0 -72px; margin: -3px 0 -7px -6px; }

ul.timeline { background: url(../img/timeline_spine.png) 10px 0 repeat-y; margin: 0 80px 80px 100px; }
ul.timeline li { list-style: none; margin: 0 0 15px 0; }
ul.timeline li .item { border: 1px solid #e4e4e4; background: #fdfdfd; overflow: visible; padding: 12px; margin: 0 0 0 125px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; position: relative; font-size: 14px; }
ul.timeline li .item .bullet { width: 36px; height: 36px; border: 3px solid #fff; -moz-border-radius: 23px; -webkit-border-radius: 23px; border-radius: 23px; background: #d4d4d4; position: absolute; top: 50%; left: -135px; margin-top: -21px; -moz-box-shadow: 0 0 3px rgba(0,0,0,.25); -webkit-box-shadow: 0 0 3px rgba(0,0,0,.25); box-shadow: 0 0 3px rgba(0,0,0,.25); }
ul.timeline li .item .date { position: absolute; top: 50%; left: -86px; font-size: 14px; font-weight: 700; margin-top: -9px; color: #333; }
ul.timeline li .item .pointer { width: 10px; height: 14px; position: absolute; top: 50%; left: -10px; margin-top: -7px; background: url(../img/timeline_pointer.png) }
ul.timeline li .item a.btn-pri { float: right; margin: -5px -5px 0 0; font-size: 14px; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; letter-spacing: -1px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

ul.timeline li .item .bullet.red { background: #ff4f00; }
ul.timeline li .item .bullet.green { background: #6fae00; }
ul.timeline li .item .bullet.yellow { background: #ffb928; }

ul.timeline li .item .bullet i { display: inline-block; width: 24px; height: 24px; margin: 6px 0 0 6px; background-image: url(../img/timeline_icos.png); }
ul.timeline li .item .bullet.vac i { background-position: 0 0; }
ul.timeline li .item .bullet.par i { background-position: 0 -24px; }

ul.timeline li.month { text-transform: uppercase; font-size: 22px; font-weight: 700; letter-spacing: -1px; font-family: MontserratBold; overflow: hidden; margin: 0; padding: 20px 0 5px 0; }
ul.timeline li.month .bullet { width: 8px; height: 8px; background: #666; border: 3px solid #fff; -moz-box-shadow: 0 0 3px rgba(0,0,0,.25); -webkit-box-shadow: 0 0 3px rgba(0,0,0,.25); box-shadow: 0 0 3px rgba(0,0,0,.25); -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; display: inline-block; float: left; margin: 10px 8px 0 5px; }
ul.timeline li.month h2 { float: left; }
ul.timeline li.month a.more { float: right; font-size: 14px; font-weight: 700; font-family: sans-serif; text-transform: none; margin: 10px 0 0 0; }

ul.timeline li.load { font-size: 14px; font-weight: 700; letter-spacing: -1px; font-family: MontserratBold; overflow: visible; margin: 0; padding: 15px 0 0 0; }
ul.timeline li.load .bullet { width: 28px; height: 28px; background: #18aaff; border: 3px solid #fff; -moz-box-shadow: 0 0 3px rgba(0,0,0,.25); -webkit-box-shadow: 0 0 3px rgba(0,0,0,.25); box-shadow: 0 0 3px rgba(0,0,0,.25); -moz-border-radius: 23px; -webkit-border-radius: 23px; border-radius: 23px; display: inline-block; float: left; margin: 5px 0 0 -5px; }
ul.timeline li.load a { float: left; font-family: sans-serif; margin: 14px 0 0 8px; }
ul.timeline li.load i { display: block; width: 24px; height: 24px; margin: 2px 0 0 2px; background-image: url(../img/timeline_icos.png); background-position: 0 -48px; }
/* //TIMELINE */

ul.careCheckList { font-size: 16px; margin: 0; padding: 0; }
ul.careCheckList li { padding: 7px 0 7px 28px; list-style: none; background: url(../img/carelist_bullet.png) 3px 6px no-repeat; }

img.feat-img { margin: 10px 15px 15px 15px; }

/* FOOTER */
#footer { -moz-box-shadow: 0px -3px 5px rgba(0,0,0,0.2); -webkit-box-shadow: 0px -3px 5px rgba(0,0,0,0.2); box-shadow: 0px -3px 5px rgba(0,0,0,0.2); }
#footer .container .copyright { float: left; margin: 28px 0 28px 20px; font-size: 14px; font-weight: 300; color: #b3b3b3; }
#footer .container .footmenu { float: right; }
#footer .container .footmenu ul { font-size: 14px; margin: 28px 20px 0 0; font-weight: 300; }
#footer .container .footmenu ul li { display: inline; margin: 0 0 0 10px; float: left; }
#footer .container .footmenu ul li a.social { display: block; width: 32px; height: 32px; margin: -6px -5px 0 0; float: right; text-indent: -9999px; }
#footer .container .footmenu ul li a.social.fb { background: url(../img/ico_facebook.png); }
#footer .container .footmenu ul li a.social.tw { background: url(../img/ico_twitter.png); }
#footer .container .footmenu ul li a.social.goo { background: url(../img/ico_google.png); }
#footer .container .footmenu ul li a.social.pin { background: url(../img/ico_pinterest.png); }

.clear1 { line-height: 0px; font-size: 1px; clear: both; height: 1px; }
.clear3 { line-height: 0px; font-size: 1px; clear: both; height: 3px; }
.clear5 { line-height: 0px; font-size: 1px; clear: both; height: 5px; }
.clear7 { line-height: 0px; font-size: 1px; clear: both; height: 7px; }
.clear10 { line-height: 0px; font-size: 1px; clear: both; height: 10px; }
.clear15 { line-height: 0px; font-size: 1px; clear: both; height: 15px; }
.clear20 { line-height: 0px; font-size: 1px; clear: both; height: 20px; }
.clear25 { line-height: 0px; font-size: 1px; clear: both; height: 25px; }
.clear30 { line-height: 0px; font-size: 1px; clear: both; height: 30px; }
.clear40 { line-height: 0px; font-size: 1px; clear: both; height: 40px; }
.clear50 { line-height: 0px; font-size: 1px; clear: both; height: 50px; }
.clear60 { line-height: 0px; font-size: 1px; clear: both; height: 60px; }